@font-face {
    font-family: 'BigParty4Blue';
    src: url('./BigParty4Blue-2575.woff') format('woff'),
    url('./BigParty4Blue-0f5b.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    /* background: url('./icon.png'); */
    font-family: 'BigParty4Blue';
    font-size: 24px;
}